{% extends "users/layout.html" %}
{% load static  %}
{% load crispy_forms_field %}
{% block extra_css %}
     <!-- summernote -->
  <link rel="stylesheet" href="{% static 'plugins/summernote/summernote-bs4.min.css'%}">

{% endblock %}
{% block header_title %}
    Customer Payment Detail Entry
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Customer Payment Detail</a></li>
              <li class="breadcrumb-item active">Add</li>
            </ol>
{% endblock %}
{% block body%}
     <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">New Customer Payment Detail Form </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form id="quickForm" method="post">
                  {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Bill Payment Date</label>
                        {% crispy_field form.date %}
                     </div>
                     <div class="form-group">
                        <label for="name">Please Select Bill</label>
                        {% crispy_field form.bill %}
                     </div>
                     <div class="form-group" id="type">
                        <label for="name">Please Select Type Of Payment</label>
                        {% crispy_field form.type %}
                     </div>
                     <div class="form-group" id="cash">
                        <label for="name">Amount</label>
                        {% crispy_field form.cash %}
                     </div>
                     <div class="form-group" id="bank">
                        <label for="name">Bank Name</label>
                        {% crispy_field form.bank_name %}
                     </div>
                     <div class="form-group" id="bank1">
                        <label for="name">Bank Branch</label>
                        {% crispy_field form.bank_branch %}
                     </div>
                     <div class="form-group" id="bank2">
                        <label for="name">Account Number</label>
                        {% crispy_field form.account_no %}
                     </div>
                     <div class="form-group" id="bank3">
                        <label for="name">IFSC code</label>
                        {% crispy_field form.ifsc_code %}
                     </div>
                     <div class="form-group" id="upi">
                        <label for="name">Phone Number</label>
                        {% crispy_field form.phone %}
                     </div>
                     <div class="form-group" id="upi1">
                        <label for="name">UPI ID</label>
                        {% crispy_field form.upi %}
                     </div>
                     <div class="form-group" id="check">
                        <label for="name">Cheque Number</label>
                        {% crispy_field form.check_no %}
                     </div>

                     <div class="form-group" id="check1">
                        <label>Cheque Date</label>
                         {% crispy_field form.check_date %}
                     </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    <script>
    document.addEventListener('DOMContentLoaded',function (){
        document.querySelector("#id_type").onchange=function(){
            console.log("inside onchange ")
            if(this.value==='cash'){
                document.querySelector("#cash").style.display="block"
                document.querySelector("#bank").style.display="none"
                document.querySelector("#bank1").style.display="none"
                document.querySelector("#bank2").style.display="none"
                document.querySelector("#bank3").style.display="none"
                document.querySelector("#check").style.display="none"
                document.querySelector("#check1").style.display="none"
                document.querySelector("#upi").style.display="none"
                document.querySelector("#upi1").style.display="none"
            }
            else if (this.value==='upi'){
                document.querySelector("#cash").style.display="block"
                document.querySelector("#bank").style.display="none"
                document.querySelector("#bank1").style.display="none"
                document.querySelector("#bank2").style.display="none"
                document.querySelector("#bank3").style.display="none"
                document.querySelector("#check").style.display="none"
                document.querySelector("#check1").style.display="none"
                document.querySelector("#upi").style.display="block"
                document.querySelector("#upi1").style.display="block"
            }
            else if(this.value==='cheque'){
                document.querySelector("#cash").style.display="block"
                document.querySelector("#bank").style.display="none"
                document.querySelector("#bank1").style.display="none"
                document.querySelector("#bank2").style.display="none"
                document.querySelector("#bank3").style.display="none"
                document.querySelector("#check").style.display="block"
                document.querySelector("#check1").style.display="block"
                document.querySelector("#upi").style.display="none"
                document.querySelector("#upi1").style.display="none"
            }
            else if(this.value==='netbank'){
                document.querySelector("#cash").style.display="block"
                document.querySelector("#bank").style.display="block"
                document.querySelector("#bank1").style.display="block"
                document.querySelector("#bank2").style.display="block"
                document.querySelector("#bank3").style.display="block"
                document.querySelector("#check").style.display="none"
                document.querySelector("#check1").style.display="none"
                document.querySelector("#upi").style.display="none"
                document.querySelector("#upi1").style.display="none"

            }
        }
    })
    </script>

{% endblock %}
{% block extra_js %}
    <!-- Summernote -->
<script src="{% static 'plugins/summernote/summernote-bs4.min.js'%}"></script>
<script>
  $(function () {
    // Summernote
    $('#id_description').summernote()


  })
</script>
{% endblock %}