
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                      <th>Rate</th>
                      <th>Price</th>
                      <th>Discount</th>
                      <th>GST</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                   {% for mat in products %}
                       <tr>
                       <td> {{ mat.id }}</td>
                       <td>{{ mat.productname }}</td>
                       <td>{{ mat.qun}}</td>
                           <td>{{ mat.rates }}</td>
                           <td>{{ mat.prices }}</td>
                           <td>{{ mat.discounts }}</td>
                           <td>{{ mat.GSTno }}</td>
                       <td>
                           <a class="btn btn-info btn-xs" href="{% url 'prodoutward-update' mat.id %}" onclick="return !window.open(this.href, 'product update', 'width=700,height=600')"
                                target="_blank">

                              <i class="fas fa-pencil-alt">
                              </i>
                              Edit
                          </a><br>
                        <a class="btn btn-danger btn-xs" href="{% url 'prodoutward-delete' mat.id %}" onclick="return !window.open(this.href, 'product update', 'width=700,height=600')"
                                target="_blank">
                           <i class="fas fa-trash">
                              </i>
                              Del
                          </a>
                       </td>

                       </tr>
                   {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                   <th>ID</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                      <th>Rate</th>
                      <th>Price</th>
                      <th>Discount</th>
                      <th>GST</th>
                    <th>Action</th>
                  </tr>
                  </tfoot>
                </table>