{% extends "users/layout.html" %}
{% load static  %}
{% load crispy_forms_field %}
{% block extra_css %}
 <!-- IonIcons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}
{% block header_title %}
  Dashboard
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Dashbord</a></li>
            </ol>
{% endblock %}
{% block body%}
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-3">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                 <h4>Products</h4>
                <h3>{{ no_of_products }}</h3>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="{% url 'product-view' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-3">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                 <h4>No Of Customers</h4>
                <h3>{{ no_of_customer }}</h3>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="{% url 'Customer-view' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-3">
            <!-- small box -->
            <div class="small-box bg-gradient-warning">
              <div class="inner">
                <h4 style="color: white">Sales</h4>
                <h3 style="color: white">{{ total_outward }}₹</h3>
              </div>
              <div class="icon">
                <i class="fas fa-rupee-sign"></i>
              </div>
              <a href="{% url 'purchase-view' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-3">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h4>Purchase</h4>
                <h3>{{ total_inward }}₹</h3>
              </div>
              <div class="icon">
                <i class="fas fa-rupee-sign"></i>
              </div>
              <a href="{% url 'view-purchase' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">Sales</h3>
                  <a href="{% url 'product-view' %}">View Report</a>
                </div>
              </div>
              <div class="card-body">
                <div class="d-flex">
                  <p class="d-flex flex-column">
                    <span class="text-bold text-lg">₹{{ total_outward }}</span>
                    <span>Sales Over Year</span>
                  </p>
                </div>
                <!-- /.d-flex -->

                <div class="position-relative mb-4">
                  <canvas id="bar-chart" height="200"></canvas>
                </div>

                <div class="d-flex flex-row justify-content-end">
                  <span class="mr-2">
                    <i class="fas fa-square text-primary"></i> This year
                  </span>

                </div>
              </div>
            </div>
            <!-- /.card -->
          </div>
         <div class="col-md-4">
            <!-- Info Boxes Style 2 -->

            <div class="info-box mb-3 bg-warning">
              <span class="info-box-icon"><i class="fas fa-rupee-sign"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Sales - Pending Amount</span>
                <span class="info-box-number">{{ total_outward_pending }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="info-box mb-3 bg-success">
              <span class="info-box-icon"><i class="fas fa-rupee-sign"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Purchase - Pending Amount</span>
                <span class="info-box-number">{{ total_inward_pending }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="info-box mb-3 bg-danger">
              <span class="info-box-icon"><i class="fas fa-thumbs-down"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Loss</span>
                <span class="info-box-number">{{ losses }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->

          </div>
    </div>
      </div>
    </section>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'plugins/chart.js/Chart.min.js'%}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js'%}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{% static 'dist/js/pages/dashboard3.js'%}"></script>
    <script>
        $(function () { /* ChartJS  * -------  * Here we will create a few charts using ChartJS  */
            // for admission chart
            fetch("http://127.0.0.1:8000/total_sales_by_month/")
                .then(response => response.json())
                .then(data => {
                    var areaChartData = {
                        //labels : ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                        labels: data.label,
                        datasets: [
                            {
                                label: 'total sales ',
                                backgroundColor: 'rgba(60,141,188,0.9)',
                                borderColor: 'rgba(60,141,188,0.8)',
                                pointRadius: false,
                                pointColor: '#3b8bba',
                                pointStrokeColor: 'rgba(60,141,188,1)',
                                pointHighlightFill: '#fff',
                                pointHighlightStroke: 'rgba(60,141,188,1)',
                                data: data.values
                            }
                        ]
                    }
                    //-------------  //- BAR CHART -  //-------------
                    var barChartCanvas = $('#bar-chart').get(0).getContext('2d')
                    var barChartData = $.extend(true, {}, areaChartData)
                    var temp0 = areaChartData.datasets[0]
                    barChartData.datasets[0] = temp0
                    var barChartOptions = {
                        responsive: true,
                        maintainAspectRatio: false,
                        datasetFill: false,
                        scales: {
                            yAxes: [{
                                display: true, ticks: { // suggestedMin: 0, // minimum will be 0, unless there is a lower value.  // OR //
                                    beginAtZero: true // minimum value will be 0.
                                }
                            }]
                        }
                    }
                    new Chart(barChartCanvas, {type: 'bar', data: barChartData, options: barChartOptions})
                })
        });

    </script>
{% endblock %}