{% extends "users/layout.html" %}
{% load static  %}
{% load crispy_forms_field %}
{% block extra_css %}
 <!-- DataTables -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
 <link rel="stylesheet" href="https://cdn.datatables.net/searchbuilder/1.1.0/css/searchBuilder.dataTables.min.css">
 <link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.1.0/css/dataTables.dateTime.min.css">
{% endblock %}
{% block header_title %}
    Owner Payment Details
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Payment</a></li>
              <li class="breadcrumb-item active">View</li>
            </ol>
{% endblock %}
{% block body%}
  <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">


            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Payment Methods</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                      <th>ID</th>
                      <th>Type</th>
                      <th>Bank Name</th>
                      <th>Bank Branch</th>
                      <th>Account No.</th>
                      <th>IFSC Code</th>
                      <th>Phone</th>
                      <th>UPI Id</th>
                      <th>Balance</th>
                      <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                   {% for pay in OwnerPayments %}
                       <tr>
                           <td> {{ pay.id }}</td>
                           <td>{{ pay.type }}</td>
                           <td>{{ pay.bank_name}}</td>
                           <td>{{ pay.bank_branch }}</td>
                           <td>{{ pay.account_no }}</td>
                           <td>{{ pay.ifsc_code }}</td>
                           <td>{{ pay.phone }}</td>
                           <td>{{ pay.upi }}</td>
                           <td>{{ pay.balance }}</td>
                           <td><a class="btn btn-outline-info btn-sm" href="{% url 'payment-update' pay.id %}">
                                  <i class="fas fa-pencil-alt">
                                  </i>
                                  Edit
                              </a>
                            <a class="btn btn-outline-danger btn-sm" href="{% url 'payment-delete' pay.id %}">
                                  <i class="fas fa-trash">
                                  </i>
                                  Delete
                              </a>
                           </td>

                       </tr>
                   {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                      <th>ID</th>
                      <th>Type</th>
                      <th>Bank Name</th>
                      <th>Bank Branch</th>
                      <th>Account No.</th>
                      <th>IFSC Code</th>
                      <th>Phone</th>
                      <th>UPI Id</th>
                      <th>Balance</th>
                      <th>Action</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}
{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/colreorder/1.5.4/js/dataTables.colReorder.min.js"></script>
    <script src="https://cdn.datatables.net/searchbuilder/1.1.0/js/dataTables.searchBuilder.min.js"></script>
    <script src="https://cdn.datatables.net/datetime/1.1.0/js/dataTables.dateTime.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.colVis.min.js"></script>


    <script>
    $(document).ready(function() {
    $('#example').DataTable( {
        dom: 'QBfrtip',
        colReorder: true,
        buttons: [
            'colvis',
            'copy',
            {
                extend: 'excel',
                messageTop: 'PDF created by PDFMake with Buttons for DataTables.',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'pdfHtml5',
                messageTop: 'SunShine Furniture Mart',
                exportOptions: {
                    columns: ':visible'
                }
            },
              {
                    extend: 'print',
                    exportOptions:{
                    columns:':visible'
                    }
            }
        ]
    } );
} );
    </script>
     <script src="{% static '/dist/js/adminlte.js'%}"></script>

{% endblock %}